data/*/*
data/*
data
*.glb
examples/
command/
testcode
nvdiffrast/*
configs
!data/tbfo.ttf
__pycache__
debug/
nvdiffrast/
log/
results/*
.vscode
!.gitignore
force_push.sh
.idea
human_det/
kaolin/
neural_voxelization_layer/
pytorch3d/
run.sh
results
results/
libmesh/
libvoxelize/
*.obj
*.pkl
*.npy
*.png
*.jpg
*.txt
gdrive
sample_data/
*.zip
*/*.gif
*.gif
